[2019-11-19 19:34] blthayer opened #1 "Update to use PowerWorld's "Concise Variable Names" instead of "Variable Name""
It turns out that despite being listed first in the PowerWorld export, the "Variable Name" column contains old/deprecated variable names, and the "Concise Variable Name" column represents the new/preferred variable names.

This definitely isn't critical, but it's probably better to fix this earlier rather than later. This will impact tests, examples, etc.

We should also consider if we want to sup

[2019-11-20 06:08] mzy2240 commented on #1
This is a very good find. What do you mean that the "variable name" column contains old/deprecated names? How did you find that? And is there a way to generate a list of valid "concise variable names" or any resource that points to the preferred variable names?

[2019-11-20 20:10] blthayer commented on #1
When you export the variable names like so:

![export_screen_shot](https://user-images.githubusercontent.com/14652512/69274033-1f3cb800-0b9f-11ea-9a9b-7d34015bbf09.png)

you'll get an Excel sheet that looks like:
![excel_screen_shot](https://user-images.githubusercontent.com/14652512/69274132-5a3eeb80-0b9f-11ea-89cd-5bfb5a742741.PNG)

It turns out that the "Concise Variable Name" is preferred, whi

[2019-11-20 21:04] abirchfield opened #2 "Add AUX file parsing"
This would allow faster reading of case data when the same case is opened multiple times.

[2019-11-20 22:00] blthayer opened #3 "Create function for setting SimAuto flags/constants"
There are some SimAuto constants/flags such as "CreateIfNotFound" that users may want to set. We should create a single entry point for setting these.

[2019-11-20 23:13] blthayer opened #4 "Bad string conversion"
Code:

[code]

Error:
[code]

[2019-11-21 04:37] mzy2240 commented on #3
Fixed in b89ac5a5f0bbe5bc866542e48ce761d06cbc7a67.

[2019-11-21 04:42] mzy2240 commented on #3
Other properties like CurrentDir, ProcessID, RequestBuildDate and ExcelApp might be implemented based on requests. Close the issue now and feel free to re-open it if it does not solve your problem.

[2019-11-21 15:48] blthayer commented on #3
@mzy2240 - I think we should create a function so that you can change these on the fly, rather than once upon initialization.

[2019-11-21 16:54] #4 closed

[2019-11-21 16:58] blthayer opened #5 "Create a function like get_key_fields_for_object_type, but for required fields"
To create new objects in a model you need both the key fields and the required fields.

This should be as simple as making a helper function which is nearly identical to get_key_fields_for_object_type, but takes regular expressions as input. Then, get_key_fields_for_object_type would call this helper function, and a new function, get_required_fields_for_object_type would also call it.

[2019-11-21 18:54] #3 closed

[2019-12-13 23:11] blthayer opened #8 "change_and_confirm_params_multiple_element assumes numeric types"
The method `SAW.change_and_confirm_params_multiple_element` assumes numeric data types, as can be seen by:

`if not np.allclose(merged[cols_in].values, merged[cols_out].values):`

This should be updated to separately compare numeric and string data.

[2019-12-15 21:37] #8 closed

[2020-02-07 00:08] blthayer opened #9 "Test with Pandas 1.0.*"
Pandas recently updated to version 1.0. There are some backwards incompatible changes. We should run tests with both >=0.24 and 1.0.

@mzy2240 - would you have time for this? If not, it's not urgent, and I could do it sometime in the upcoming weeks.

[2020-02-09 00:53] mzy2240 commented on #9
I will take a look next week. We are preparing the short course recently so really busy.

[2020-02-11 07:34] mzy2240 commented on #9
Tested in Python 3.8 with Pandas 1.0.1. Passed all the tests.

[2020-02-11 07:34] #9 closed

[2020-03-25 22:27] blthayer opened #10 "Remove all non-implemented methods that are not SimAuto functions"
Currently, we have some methods that raise a `NotImplementedError` but are not SimAuto functions. Rather, they're helpers for RunScriptCommand methods. As a first step, let's completely remove all these methods. We'll add some popular RunScriptCommand methods at the end.

[2020-03-25 22:28] blthayer opened #11 "Implement and test ChangeParameters method"

[2020-03-25 22:29] blthayer opened #12 "Implement and test ChangeParametersMultipleElementFlatInput method"

[2020-03-25 22:30] blthayer opened #13 "Implement and test GetCaseHeader method"

[2020-03-25 22:30] blthayer opened #14 "Implement and test GetParametersMultipleElementFlatOutput method"

[2020-03-25 22:31] blthayer opened #15 "Implement and test GetParameters method"

[2020-03-25 22:31] blthayer opened #16 "Implement and test GetSpecificFieldList method"

[2020-03-25 22:32] blthayer opened #17 "Implement and test GetSpecificFieldMaxNum method"

[2020-03-25 22:32] blthayer opened #18 "Implement and test ListOfDevicesAsVariantStrings method"

[2020-03-25 22:33] blthayer opened #19 "Implement and test ListOfDevicesFlatOutput method"

[2020-03-25 22:33] blthayer opened #20 "Implement and test OpenCaseType method"

[2020-03-25 22:34] blthayer opened #21 "Implement and test SendToExcel method"

[2020-03-25 22:35] blthayer opened #22 "Implement and test TSGetContingencyResults method"

[2020-03-25 22:35] blthayer opened #23 "Implement and test WriteAuxFile method"

[2020-03-25 22:40] blthayer commented on #22
This one shouldn't be included. My mistake.

[2020-03-25 22:41] blthayer opened #24 "Testing coverage - get to 100%"
Use coverage module either through PyCharm or "raw" to assess testing coverage after all methods are complete. Add tests as necessary to get coverage up to 100%.

[2020-03-26 16:46] #16 closed

[2020-03-26 17:16] #17 closed

[2020-03-26 17:34] #19 closed

[2020-03-26 17:43] #18 closed

[2020-03-26 17:46] blthayer commented on #10
Missed a couple methods.

[2020-03-26 17:48] #10 closed

[2020-03-27 16:00] blthayer opened #25 "Unify and update documentation"
- Convert README file to rst
- Split README file out into different files so it can be included in the API documentation
- Include README content in API documentation
- Clean up and update documentation

[2020-03-27 16:04] blthayer commented on #25
@mzy2240 @SmartJingJing123 - So that our documentation can be more unified, I'd like it all (with the exception of the JOSS paper itself) to be in restructure text. Here's a quick primer:
http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html

[2020-03-27 21:04] #11 closed

[2020-03-27 22:04] blthayer commented on #21
@SmartJingJing123 @mzy2240
I'm re-opening this for two reasons:
1. Most importantly - we need a unit test for this method. The test should call the method, confirm that the file gets created, and then delete the file (using the tearDown from unittest.TestCase). I can write this test if desired.
2. Less important, but still important :) - the indentation for the method's docstring is not correct. T

[2020-03-27 22:08] mzy2240 commented on #21
@blthayer You are right. I already notified her about that when I saw the commit.

[2020-03-27 22:22] SmartJingJing123 commented on #21
Thanks for the reply. I have fixed the docstring issue, and am working on
the tests.

Best,
Yijing

On Fri, Mar 27, 2020 at 5:08 PM mzy2240 <notifications@github.com> wrote:

[2020-03-27 22:57] #12 closed

[2020-03-27 23:15] #15 closed

[2020-03-28 00:33] mzy2240 commented on #22
Actually it is a simauto function. Can you implement that one?

[2020-03-28 01:18] #20 closed

[2020-03-28 02:17] #23 closed

[2020-03-28 16:15] blthayer commented on #13
Need to fix docstring since it still refers to "Result(0) will be an error string." I'll take care of it.

[2020-03-28 16:17] blthayer commented on #14
Need to fix "return" portion of docstring since the errorString will not be present in our implementation. I'll fix.

[2020-03-28 16:32] blthayer commented on #22
You're correct. I'm on it.

[2020-03-28 16:55] blthayer opened #26 "Give option to return and accept DataFrames with a MultiIndex"
In many cases it would be very useful to have DataFrames use a MultiIndex. This index would use the key fields as the different index levels. For example, if you had a DataFrame with generator information, it would be nice if you could simply index in by bus number and generator ID.

[2020-03-28 18:32] blthayer opened #27 "Bump version to 1.0.0 as last step for JOSS paper"

[2020-03-28 21:05] mzy2240 commented on #21
#d6ad27d

[2020-03-28 21:12] mzy2240 commented on #21
@SmartJingJing123 I just verified and it failed to pass the test.

[2020-03-30 19:56] #13 closed

[2020-03-30 20:08] #14 closed

[2020-03-30 20:17] blthayer commented on #21
@mzy2240 @SmartJingJing123 We need more tests for this method. Currently the only test that's in place shows that an error is correctly thrown if the method is asked for a bad ObjectType. We also need to ensure it behaves correctly when given valid input. However, I can see how this might be tricky: it looks like the method opens up Excel rather than just writing to an Excel file?

[2020-03-30 20:22] mzy2240 commented on #21
@blthayer You are right. I talked with @SmartJingJing123 about that, and she mentioned she cannot access the opened excel sheet (it is not saved). I recommended her to use the Excel COM object, but she still had a problem accessing it.

[2020-03-30 21:12] blthayer opened #28 "Make path handling consistent in all of ESA"
Currently, we don't handle all file paths consistently. Let's try this in the following order:

1. Remove ALL path conversion things (like posix_path stuff), run unittests
2. If that doesn't work, change ALL file paths to be converted to Windows file paths

[2020-03-30 21:14] blthayer opened #29 "Contact PowerWorld re: TSGetContingencyResults"
PowerWorld's documentation is inconsistent. Also issue for GetCaseHeader

[2020-03-30 21:25] blthayer opened #30 "Update top-level README"
- Make section for documentation
- Add one-liner for pip installation

[2020-03-30 21:28] blthayer opened #31 "Draft statement of need"
Discuss why one would use an automation tool like ESA instead of directly using PowerWorld on its own.

[2020-03-30 21:30] blthayer opened #32 "Add documentation section for projects that use ESA and motivating use cases"

[2020-03-30 21:31] blthayer opened #33 "Write draft of JOSS paper"
Also create the .bib file.

[2020-03-30 21:38] blthayer opened #34 "Review and revise updated documentation"
1. Git pull
2. Build documentation
3. Use web browser to view local documentation
4. Read through everything, fix any issues
5. Propose revisions that help us meet the JOSS criteria

Please make a branch for any changes, and use a pull request to get changes reviewed. Assign @blthayer to the pull request.

[2020-03-30 21:44] blthayer commented on #25
This is more or less done, and we have several different issues open for further tweaking the documentation.

[2020-03-30 21:44] #25 closed

[2020-03-30 21:46] blthayer commented on #21
@mzy2240 @SmartJingJing123 - as discussed in today's meeting, @SmartJingJing123 will document what she attempted in the test method, and update the docstring in the main method to warn users that we were not able to sufficiently test this method. Also, recommend users simply get objects and use pandas to save .csv files.

[2020-03-30 21:47] blthayer opened #35 "Contact PowerWorld, request ESA be listed on their website"
To maximize our visibility, we should see if we can get PowerWorld to link to ESA in their documentation and on their website. We can do this as one of the last tasks related to the JOSS submission.

[2020-04-01 04:29] #21 closed

[2020-04-01 05:18] #28 closed

[2020-04-01 19:39] blthayer commented on #35
@mzy2240 - can you either email me Caroline's email address or email her related to this? We might want to wait until after we've merged develop into master, bumped the version to 1.0, and added the latest on PyPi.

[2020-04-01 19:52] mzy2240 commented on #35
I will email her shortly. I will also share her email to you via email.

[2020-04-01 19:54] #30 closed

[2020-04-01 19:55] blthayer commented on #30
@mzy2240 @SmartJingJing123 - take a look at the top-level README and let me know if you think it's adequate. Again, the reason to keep it slim is to avoid repeating information, which leads to unmaintainable documentation. GitHub does not allow us to use the `include` directive when rendering files on GitHub (such as the README).

[2020-04-01 20:34] mzy2240 commented on #30
Since you mentioned that for full details check the documents, I would recommend, in the installation section, just put the `pip install esa`.

[2020-04-01 21:08] mzy2240 commented on #35
Just emailed. Will close the issue once a response is received.

[2020-04-01 21:09] mzy2240 commented on #29
Just emailed PW about that.

[2020-04-01 21:09] #29 closed

[2020-04-01 22:07] blthayer commented on #22
@mzy2240 @SmartJingJing123 - I'm going to reassign this one to the two of you. Can you please:

- Review the docstring and make sure it makes sense. Revise as necessary
- Review the tests
- Add more tests (optional, but I think it could be useful to add tests that call the method in different ways)

[2020-04-01 22:11] blthayer commented on #30
@mzy2240 - sure thing, I can do that if you think it's better. I put the "only binary" stuff in there since I think that'll minimize the errors users receive. However, maybe that's punishment for not checking out the documentation :)

[2020-04-01 22:13] blthayer commented on #34
@mzy2240 @SmartJingJing123 - I recommend pulling the latest from develop and building the documentation locally for this task so that you have the most up-to-date docs.

[2020-04-02 04:32] #22 closed

[2020-04-02 14:41] blthayer opened #36 "Run all tests with different versions of Python on different machines"
Run tests with Python versions 3.5, 3.6, 3.7, and 3.8. @blthayer, @mzy2240, and @SmartJingJing123 should all run the tests with all the Python versions to ensure everything is working as expected.

This should be one of the last things we do before submitting the JOSS paper.

[2020-04-02 18:23] blthayer opened #37 "Update RELEASE_PROCESS.rst file"
Please fill in this file with details on the release process. I've started it.

[2020-04-02 18:24] blthayer commented on #36
@mzy2240 @SmartJingJing123 - check out the new script I added to make this all happen automatically.

[2020-04-02 19:25] blthayer opened #38 "Incorporate testing coverage into documentation"
https://www.sphinx-doc.org/en/master/usage/extensions/coverage.html#sphinx.ext.coverage.coveragebuilder

[2020-04-02 19:27] blthayer opened #39 "Enhance logging"
The SAW class creates a logger, but then we never really log anything... We should add a reasonable amount of logging.

[2020-04-02 23:15] mzy2240 commented on #36
Passed all the tests with versions from 3.5 to 3.8. Numpy version also matters, but not sure about the minimum acceptable version. If the user is using the 3.5 with Anaconda, he/she might have some problems using the module cause two tests failed due to the unexpected output of pandas/numpy. To make it work with 3.5, the user should use pip or manually install the dependencies (pywin32, pypiwin32,

[2020-04-02 23:21] blthayer commented on #36
@mzy2240 - do you think we should attempt to find the minimum acceptable version of numpy? If so, would you be willing to do this? Alternatively, you can pick a random version that's a few versions old (maybe a year or so old?), and if it works, we can just set that as the minimum. Not perfect, but saves us from endless trial and error with Numpy version.

[2020-04-02 23:21] blthayer commented on #36
@mzy2240 - did my script work okay for you?

[2020-04-02 23:31] mzy2240 commented on #37
@blthayer Please check the new RELEASE_PROCESS.rst and let me know if you prefer adding more details. If you think it is good, please close this issue.

[2020-04-02 23:40] blthayer commented on #37
@mzy2240 - thank you! I just made some small adjustments. Would it be easy to add the commands needed for the step `Generate the distribution archive`?

[2020-04-02 23:55] mzy2240 commented on #37
Now it should look better : )

[2020-04-03 00:00] mzy2240 opened #40 "Update the minimum version requirement for numpy"
Update the minimum version requirement for numpy in the ``setup``

[2020-04-03 00:24] #40 closed

[2020-04-03 17:40] blthayer commented on #24
Mission accomplished! We're at 100%. See 0f8a2b4b5e40a5b126a43a24352711a5faa6b895

[2020-04-03 17:40] #24 closed

[2020-04-03 17:41] blthayer commented on #37
@mzy2240 - looks great! Thank you!

[2020-04-03 17:41] #37 closed

[2020-04-03 20:42] blthayer commented on #38
@mzy2240 - this is complete. Please run `docs/rst/coverage_to_rst.py` after installing `coverage` and `tabulate` packages.

[2020-04-03 20:42] #38 closed

[2020-04-03 23:35] mzy2240 commented on #38
@blthayer
![image](https://user-images.githubusercontent.com/18620336/78412691-e0515100-75d9-11ea-8676-6ca3587c2c45.png)
Is the output expected?

[2020-04-04 00:11] blthayer commented on #38
@mzy2240 - no, that's not expected. I'll try running with Python 3.8 and see if I get the same warning.

[2020-04-04 00:28] blthayer commented on #38
@mzy2240 - I was running from PyCharm, which does some automatic path patching. I've fixed it now, please try again.

This underscores the importance of running everything from the terminal during a release - we don't want the magic of PyCharm to hide things that are broken.

[2020-04-04 00:30] blthayer commented on #27
@mzy2240 - since we've implemented all the functions, you're welcome to release version 1.0.0 whenever you'd like. All that we have left are documentation changes (none of which are major enough to prevent us releasing, in my opinion). We're not in a hurry to release, however.

[2020-04-04 00:31] blthayer commented on #35
PowerWorld, for whatever reason, doesn't want to list our tool. Closing.

[2020-04-04 00:31] #35 closed

[2020-04-04 00:32] blthayer opened #41 "Remove all links to the SimAuto functions page"
PowerWorld is going to remove the page that lists all the SimAuto functions, so we should stop linking to it. Here's the link:

https://www.powerworld.com/WebHelp/#MainDocumentation_HTML/Simulator_Automation_Server_Functions.htm%3FTocPath%3DAutomation%2520Server%2520Add-On%2520(SimAuto)%7CAutomation%2520Server%2520Functions%7C_____3

[2020-04-04 15:09] SmartJingJing123 commented on #38
@blthayer I have some doubt after running the script. I got a result of Percentage Coverage = 100 in the README.rst, but there are some errors in the output, is this expected? Screenshot of the errors is attached:
![image](https://user-images.githubusercontent.com/47085972/78454204-47afe500-765c-11ea-86d9-f4b7bf44d980.png)

[2020-04-04 16:34] mzy2240 commented on #27
Released the 1.0.0 version to PYPI.

[2020-04-04 16:34] #27 closed

[2020-04-05 18:00] blthayer commented on #38
@SmartJingJing123 - at the very beginning of the output, there's some text that says:

[code]

The errors you see are intentionally raised during the tests - essentially testing that error handling is working appropriately. I went ahead and updated the printing in the script so that it's more clear that those printed errors are expected behavior. You can see my changes in the following commit: 7bc

[2020-04-06 20:57] blthayer commented on #36
@SmartJingJing123 @mzy2240 - when you've both been able to run the ``run_tests_for_all_python_versions.py`` script successfully, please let me know and then we can close this issue.

[2020-04-06 21:03] blthayer commented on #41
I could only find one occurrence. Closing.

[2020-04-06 21:03] #41 closed

[2020-04-06 21:29] SmartJingJing123 commented on #36
@blthayer Have run the script and get the results. The results are all "OK" in "test_results_36/37/38", but Python 3.5 failed the test. I have attached all the results got from tests FYI.
[Results from test all python versions.zip](https://github.com/mzy2240/ESA/files/4440887/Results.from.test.all.python.versions.zip)

[2020-04-07 01:35] mzy2240 commented on #36
@blthayer Failed to pass the 3.6 and 3.8. I guess these are due to the fact that the older version of ESA has been installed in both envs (or older version of dependencies have been installed). Have you considered forcely install the new version of ESA or dependencies?

[2020-04-07 01:51] mzy2240 commented on #31
- Getting data from a power system model for other application, like graph analysis or signal processing
- Automate some parameter search process, like dynamic model tunning
- Provide a bridge between the power system simulation and the machine learning application

You guys are welcomed to provide more reasons @SmartJingJing123 @blthayer

[2020-04-07 15:01] blthayer commented on #36
@SmartJingJing123 - for Python 3.5, did you see any error messages in the console?

@mzy2240 and @SmartJingJing123 if you run the script like so:

```python run_tests_for_all_python_versions.py -h```

You'll get output like so:

[code]

If you could please run with the ``--fresh`` flag, I would appreciate it. So, the command will look like:

[code]

[2020-04-07 15:08] blthayer commented on #36
@mzy2240 - it's also worth noting that the tests are run from the tests that are present locally. So, you should stash any local changes (``git stash``) then checkout the master branch, run the script, and then "unstash" your changes afterwards (``git stash pop``).

[2020-04-07 16:05] SmartJingJing123 commented on #36
@blthayer  I re-run the tests with "--fresh"and get a similar result with yesterday. For Python version 3.5, the error messages can be divided into two types:
1. The first type is related to python packages that are not downloaded correctly. Examples are:
ImportError: No module named 'numpy' & ImportError: No module named 'pandas'
2. The second type is related to esa. Examples are:
ameError: name

[2020-04-07 16:44] blthayer commented on #36
@SmartJingJing123 - thank you! Can you provide the output you got in the terminal? It seems like things aren't installing correctly for you (which then causes the tests to fail).

[2020-04-07 18:06] blthayer commented on #36
@SmartJingJing123 - I think this may have to do with the Chinese characters in your path. Can you try again from a different location that only has ASCII characters?

The simplest way may be to temporarily rename
[code]
to
[code]

[2020-04-07 19:29] SmartJingJing123 commented on #36
@blthayer Yes, you are correct! After I renamed the folder to ASCII characters, all python versions passed the tests. I have tested python 3.4 3.6 3.7 3.8. So this script is good at my end now! Thanks for your reply!

[2020-04-07 20:57] blthayer commented on #36
@SmartJingJing123, great! I'm assuming that in the message above you meant "3.5" instead of "3.4"
@mzy2240 - as soon as you give this another shot we can close this issue.

[2020-04-07 22:24] mzy2240 commented on #36
@blthayer I tested again, with all the suggestions you made, still got the same results. From the results I can tell all the dependencies are not properly installed, so lots of NameErrors are raised. Since I manually tested and passed all the versions, I suggest to close the issue.

[2020-04-07 22:28] mzy2240 commented on #36
@blthayer The major NameError is _NameError: name 'saw' is not defined_ and I checked the terminal output and it showed everything was successfully installed.

[2020-04-07 23:25] blthayer commented on #36
@mzy2240 - that's quite odd... but I agree - since you've been able to manually test everything in all versions and since all passed for both @SmartJingJing123 and myself, I'll close the issue. I do think it's probably still worth investigating what's going on since ideally you would run the script prior to each release in order to automate the testing of different Python versions.

[2020-04-07 23:25] #36 closed

[2020-04-08 01:17] mzy2240 commented on #36
@blthayer I managed to make the python 3.6 work with your code. I reinstalled the pywin32 using conda and then it is working now. But I still cannot make the py3.8 work even though I can manually pass the test in 3.8. The reason is largely due to the fact that the 3.8  venv may need to run the pywin32 post installation script. Do you know how to do that for a venv?

[2020-04-08 15:51] blthayer commented on #36
@mzy2240 - the pywin32 post-installation script just does some system-wide stuff. Can you post the output you're getting?

The next thing to try is to change the ``cmd_tuple`` that spans lines 69 and 70 from:
[code]
to:
[code]
I haven't tried it yet, it's possible that those last two items in the revised tuple should be one string instead of too, I'm not sure.

My personal advice: _never_ use Anac

[2020-04-08 21:21] blthayer commented on #33
@mzy2240 @SmartJingJing123

I've written a rough draft. It'll likely need a good bit of revising, and we need to add more projects that use ESA.

I'm going to reassign this task to you two - please read it through and revise. Feel free to either directly make revisions, or you can make notes and we can talk about revisions later.

You might find it nicer to read a .pdf of the paper. Simply put the

[2020-04-10 15:38] blthayer commented on #31
I like these. I think some other ideas might be:
- Co-simulation with other domains such as transportation, communication, or natural gas
- General task automation

[2020-04-10 15:39] blthayer commented on #36
@mzy2240 - do you have a couple minutes to take a swing at this again? I just want to make sure we get the issues ironed out so that the script can be consistently used during the release process for quality control

[2020-04-10 16:57] blthayer commented on #31
Update the why use ESA documentation to include this stuff

[2020-04-10 17:00] blthayer commented on #33
@mzy2240 - please add equal contribution note to acknowledgements section.

[2020-04-10 17:43] blthayer commented on #33
@mzy2240 - I made some modifications to your addition. Can you please take a look?

[2020-04-10 18:00] mzy2240 commented on #33
It looks great. Thank you!

[2020-04-13 16:06] blthayer commented on #34
@SmartJingJing123 - it looks like you may have accidentally committed to the `master` branch instead of the `develop` branch. I'll go ahead and try my hand using `git cherry-pick` to move those three commits you made over to the `develop` branch.

[2020-04-13 16:09] blthayer commented on #34
@SmartJingJing123 - I was able to easily get your three commits "cherry-picked" over to `develop`. Please do future work in the `develop` branch. Thank you!

[2020-04-13 16:11] SmartJingJing123 commented on #34
@blthayer When I was trying to commit, I saw the other snippets are on the `master` branch. But maybe we need to commit to `develop` branch at first. Sorry for the misunderstanding and thanks for your help!

[2020-04-13 16:18] blthayer opened #43 "Determine if we can add a "note" to citations for JOSS"
A couple of our citations require notes (like "accepted, to be published after delayed conference takes place"). Brandon's thesis also needs a note since the full text won't be published for a while.

[2020-04-13 16:39] blthayer commented on #34
@SmartJingJing123 - no worries. In general, we do work in the `develop` branch, and then when we've done enough work for a public release we then merge the work from `develop` into `master` and prepare a PyPi release (and increment the version number, rebuild the documentation, etc.).

I was looking at your snippet - I think it'll be a great addition to the documentation! There are a few clean-up

[2020-04-13 21:07] blthayer commented on #34
@SmartJingJing123 - I thought of one more thing that needs done for this task: please add `matplotlib` to the testing requirements in the top-level `setup.py` file. You'll notice `networkx` is also listed there. This way, when others want to run all the ESA tests they have all the prerequisites installed from the get-go.

[2020-04-13 21:33] SmartJingJing123 commented on #34
@blthayer You're correct! Have done that and hopefully, this is the final commit for this task.

[2020-04-14 00:05] blthayer opened #44 "Merge 'master' into 'develop'"
@mzy2240

Our master and develop branches have diverged a bit. For example, the develop branch still has the ESA version at 0.6.3. So, we should merge 'master' into 'develop'.

Caveats:
- We need to remove `__version__` from `__init__.py`
- Potential merge conflicts with the documentation: It might be simplest to remove all the built documentation from both branches, then re-build in 'master', the

[2020-04-14 00:07] blthayer commented on #34
@SmartJingJing123 - I've made some tweaks to your example in the following commits:
- e4ffcf165e8be25dfa4fb7a60375dbf0c8f7ca88
- 58aa57f323fd83f9ca60ad3dda619f8a32e91343
- f5f1ee9ed6019a31c73ed9dc5e58e1e535ec01bf

I wrote an excessively detailed commit message on the first one for you. The other two commits are quick and simple. If you could please review them, that would be great.

Please let me

[2020-04-14 00:16] blthayer opened #45 "Release version 1.0.1 after all the merging and documentation dust has settled"
After we've finished revising the documentation, merging branches, etc., let's release the next version of ESA. This adds some new features.

This brings up an important point: We should probably start keeping a change log/ version log where we note what's been added. I propose we add a section to the documentation and create a .rst file for tracking this.

Another important point: We need to star

[2020-04-14 01:04] SmartJingJing123 commented on #34
@blthayer - Thanks for the commits. I think they are pretty good!

[2020-04-14 01:09] mzy2240 commented on #43
@blthayer I managed to be able to add footnote. If you have not done this, I am happy to work on this. I did the same thing for the equal contribution footnote.

[2020-04-14 02:24] blthayer commented on #43
@mzy2240 - thank you! I'll look into this a bit tomorrow. What I'm going for, is with some citation managers you can add a "note" field to a BibTex entry. That field then shows up in the citation. I recently wrote a LaTex document where I added a "note" to my thesis indicating the full text won't be publicly available until 2022, and the note showed up in the references. However, with JOSS, it app

[2020-04-14 02:41] mzy2240 commented on #43
Haha, I am actually looking for the same thing, but with no luck so far. So my solution is, adding the note directly in the markdown file, and it looks ok to me. Here is the snapshot:
![image](https://user-images.githubusercontent.com/18620336/79180276-245d0680-7dcf-11ea-979b-f66f3de55ddc.png)
But what I did for the equal contribution footnote involves more hack. What I did is to have a latex.temp

[2020-04-14 06:45] mzy2240 commented on #33
@blthayer I think now the paper looks good now. However, one problem is that inside the bib section some repeated names are replaced by dashed lines. Though it is the default format of IEEE and it is accepted (or recommended) by JOSS (check here https://github.com/openjournals/joss-reviews/issues/384#issuecomment-332239884), I still prefer to always have the full name instead of lines. Do you mind

[2020-04-14 15:40] blthayer commented on #43
@mzy2240 - did you find any JOSS documentation noting that we can tweak their template like that?

[2020-04-14 15:44] blthayer commented on #33
@mzy2240 - I agree and don't necessarily like the dashed lines. Though if it's the default style maybe we should just go with it?

[2020-04-14 15:59] blthayer commented on #33
@mzy2240 - can you post the command you used to compile the paper? I'm guessing you used pandoc? The current .pdf in the repo seems to be missing the logo - is that expected?

[2020-04-14 16:15] blthayer commented on #33
@mzy2240 - just an FYI - when I compile with the JOSS preview whedon tool thingy, none of your tweaks (like the footnote) come through. So I doubt that particular service is actually using your latex.template, logo.png, etc. files.

[2020-04-14 17:26] mzy2240 commented on #33
Check the makefile file. The command I am using is inside the file.

[2020-04-14 17:38] mzy2240 commented on #33
The website does not utilize the template, but I am sure they will use when they compile the actual paper, cause some of the published one also use the template, like this one https://github.com/JuliaEarth/GeoStats.jl/tree/master/paper. The corresponding pdf is here: https://joss.theoj.org/papers/10.21105/joss.00692, you can notice that the author name has a footnote, which is not possible to gene

[2020-04-14 18:25] blthayer commented on #33
@mzy2240 - thank you! As far as I can tell, JOSS's pandoc command can be found here:

https://github.com/openjournals/whedon/blob/6dc0baef9c6c899932ffa179d2d491a6b3cc5752/lib/whedon/compilers.rb#L160

And the latex template they use can be found here:
https://github.com/openjournals/whedon/blob/6dc0baef9c6c899932ffa179d2d491a6b3cc5752/resources/latex.template

I'll update the Makefile to include a

[2020-04-14 18:26] blthayer commented on #33
@mzy2240 - update: I think this link more accurately describes the pandoc command:

https://github.com/openjournals/whedon/blob/6dc0baef9c6c899932ffa179d2d491a6b3cc5752/lib/whedon/compilers.rb#L340

[2020-04-14 18:32] mzy2240 commented on #33
I get the latex.template from here: https://github.com/openjournals/whedon/tree/master/resources/joss and it is mentioned in some issues in the JOSS repository.

[2020-04-14 20:04] #34 closed

[2020-04-14 20:10] blthayer commented on #45
https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2020-04-14 23:11] #32 closed

[2020-04-14 23:12] blthayer commented on #43
I'm going to close this for now, as @mzy2240 found a workable solution.

[2020-04-14 23:12] #43 closed

[2020-04-14 23:29] blthayer commented on #44
This is done. More similar work to follow in order to close out https://github.com/mzy2240/ESA/issues/45#issue-599211139

[2020-04-14 23:29] #44 closed

[2020-04-15 00:33] blthayer opened #46 "Finalize JOSS paper, submit to JOSS"
After receiving feedback from Professor's Overbye and Davis, make adjustments to the paper as needed. Then, submit to JOSS.

[2020-04-15 00:34] blthayer commented on #33
Closing this issue since the draft is complete.

[2020-04-15 00:34] #33 closed

[2020-04-15 00:35] blthayer commented on #45
@mzy2240 - I'm going to assign this to you now. After you finish https://github.com/mzy2240/ESA/issues/31#issue-590608741 please go ahead and release version 1.0.1.

Please note that I've made significant updates to the release process file. Let me know if anything is confusing, wrong, or if you need a hand.

[2020-04-15 04:01] mzy2240 commented on #45
@blthayer The new release process is very detailed! Great work! The only problem is I still have to manually change the version number in the __init__.py file, otherwise, it will still show version 1.0.0. I tried it in multiple environments (including brand new venv) and none of them work.

[2020-04-15 04:03] mzy2240 commented on #31
Updated in #7ae001e.

[2020-04-15 04:04] #31 closed

[2020-04-15 04:07] mzy2240 opened #47 "Image fail to show up in the matplotlib example"
https://mzy2240.github.io/ESA/html/snippets.html#plot-histogram-of-line-flows-with-matplotlib

[2020-04-15 15:06] blthayer commented on #45
@mzy2240 - I'll file an issue and see if I can't figure it out. That's weird, I thought I had fixed that with my new regular expression.

Thank you! Glad the process worked well otherwise.

[2020-04-15 15:06] #45 closed

[2020-04-15 15:13] blthayer commented on #47
@mzy2240 @SmartJingJing123 - this is a bit weird. I pulled the latest from `develop`, and when I view the documentation locally (open it w/ Firefox through the Windows file system), the image shows up.

So this may have to do with how the GitHub hosting of the documentation works. I see two things to try at first:

1. We could look into the Sphinx building options and see if there are different me

[2020-04-15 15:22] blthayer opened #48 "setup.py should automatically update __version__ in __init__.py"
This isn't working right now, but should.

[2020-04-15 15:47] blthayer commented on #48
@mzy2240 - I fixed this in 458255ccbc30abed23e2392dbe7dae4bea0a3adf. Please let me know if you have questions or further issues.

You'll want to uninstall esa from your virtual environment to prevent conflicts between the local/source version and the version installed in your virtual environment:
``python -m pip uninstall esa``

[2020-04-15 15:47] #48 closed

[2020-04-15 21:22] mzy2240 commented on #47
Since the image is working now, the issue will be closed now.

[2020-04-15 21:22] #47 closed

[2020-04-16 20:18] blthayer commented on #46
@mzy2240 @SmartJingJing123 - I think we're ready to submit after receiving the go-ahead from Professor Overbye.

[2020-04-16 20:23] blthayer commented on #46
Bad news: as of ~5 days ago, JOSS has suspended new submissions until May 4th.

https://joss.theoj.org/papers/new

[2020-04-17 06:32] mzy2240 commented on #46
That is not good. I guess we have three options: wait till May 4th, try JORS or try NAPS. I personally prefer the first two options.

[2020-04-17 15:15] blthayer commented on #46
@mzy2240 @SmartJingJing123 - I propose we wait until May 4th.

Does someone want to take point on putting together a NAPS paper in which we compare available simulators? We'd have to:

- Determine which simulators we have access to, and determine which free simulators to use
- Carefully design experiments using different cases and different scenarios. Perhaps we should use some cases/scenarios tha

[2020-04-17 18:11] SmartJingJing123 commented on #46
I propose to wait until May 4th as well. Since the paper is already written, we can wait for two more weeks, and then submit once JOSS submission is opened. NAPS is a choice but somewhat is time-consuming.

[2020-04-17 21:23] blthayer commented on #46
We'll wait until May 4th to submit and skip the NAPS paper based on Professor Overbye's feedback.

[2020-04-17 21:43] blthayer opened #49 "Documentation-only release"
I've updated the text around our citations to encourage people to check back later for an up-to-date citation. As such, I'd like to update the documentation both on GitHub and out on PyPi.

@mzy2240 - would you be willing to create a new release? No change to version number, no need to run the tests, etc. All we need is rebuilt documentation and an update on PyPi (so the top-level README gets upda

[2020-04-17 21:44] blthayer commented on #49
Here's the changes I made: e4c0f26811eece34261f4d2c8385a1d6a144a88c

[2020-04-17 21:47] blthayer opened #50 "Publicize and/or advertise ESA"
After we have an official publication listed as our citation, we should start advertising ESA. One example might include making a "Powerglobe" announcement.

[2020-05-12 04:12] mzy2240 opened #51 "Add area number to the power flow result"
The goal is to add the area number to the power flow result, so that the user is able to filter out the result based on the area.

[2020-05-12 04:19] #51 closed

[2020-05-12 04:36] mzy2240 commented on #49
This issue is solved in https://github.com/mzy2240/ESA/commit/267ae31eef744cb63c446aea36e806088f7d6c89

[2020-05-12 04:36] #49 closed

[2020-05-29 02:49] blthayer opened #52 "Remove the "modified" Texas 2000 bus case from the repository"
The modified Texas 2000 bus case is huge (30MB), and we only use it for one test case: `ProcessAuxFileTestCase`. We should update that test case so that it does not depend on the modified case, and then delete the modified case from the repository.

While it may not seem like it's a big deal to have it around, the primary concern is that GitHub limits Git-LFS bandwidth for repositories unless you

[2020-05-29 02:58] mzy2240 commented on #52
ok I will check whether I can use a smaller case to replace the current one

[2020-05-29 03:19] blthayer commented on #52
@mzy2240 - thank you! I only added that case because it had LTCs and I was using an LTC filter to test the ProcessAuxFile method... It's probably simplest to just create some new sort of aux file filter that works with something else within the 2000 bus case (e.g. generator fuel types) and rewrite the test accordingly.

[2020-05-29 06:48] mzy2240 opened #54 "Add more tests to make the coverage 100%"
@blthayer Right now the coverage is about 96%. I checked the coverage reports and noticed the uncovered lines come from the newly-added exception handling for the old version of PW. Since you are more familiar with the mock module, can you add some tests for these exceptions?

[2020-05-29 16:54] blthayer commented on #54
@mzy2240 - I can do that, hopefully today, but I may not have time. I think it would be okay to release with 96% coverage and update the tests later if that's okay with you and I run out of time today.

[2020-05-29 16:56] blthayer opened #55 "Update build date/ version methodology"
@mzy2240 - would you have time to tackle this today? I gained some information from PowerWorld this morning:

We could run this in __init__ and simply add a `version` attribute to `SAW`. Then, we wouldn't have to mess around with any of the writing to file stuff.

[2020-05-29 16:57] mzy2240 commented on #54
Okay no problem. Besides the coverage, it passed all the tests. I will release the new version later.

[2020-05-29 16:58] mzy2240 commented on #55
Ok

[2020-05-29 20:32] blthayer commented on #54
@mzy2240 - I was able to get this done, but won't have much more time for ESA in the next week.

Please note that one of the doctests is still failing because of the AreaNum issue.

[2020-05-29 20:32] #54 closed

[2020-06-02 04:15] #52 closed

[2020-06-02 04:15] #55 closed

[2020-06-12 22:59] blthayer opened #56 "Add support for decimal delimiters other than periods"
In Europe (and elsewhere), decimal numbers are delimited with a comma, rather than a period. Ensure that ESA seamlessly handles this difference.

This issue was brought up by `robinroche` in this [comment](https://github.com/openjournals/joss-reviews/issues/2289#issuecomment-643482550).

[2020-06-12 23:05] blthayer opened #57 "Remove HISTORY.rst file"
We aren't using this file. Note that it's included in MANIFEST.in. We're using docs/rst/welcome/changelog.rst instead of this top-level HISTORY.rst file.

@mzy2240 - would you be willing to take care of this before the next release?

[2020-06-14 19:16] robinroche commented on #56
@blthayer Thanks for the fix but I still have the same issue.
The update seems to have worked:
[code]
I get the following error (file test.py has not changed since my first comment):
[code]

[2020-06-14 19:49] blthayer commented on #56
@robinroche - thank you very much for working with me on this, and I'm sorry the initial fix wasn't adequate.

So that I can better reproduce the issue, could you please execute the following (using the `CASE_PATH` variable for your own machine) and provide me with the verbatim printed output?

[code]

[2020-06-14 19:55] robinroche commented on #56
@blthayer Sure, here is the output:

[code]

[2020-06-14 20:06] blthayer commented on #56
@robinroche - thanks for your rapid response.

It's odd to me that it's reporting your decimal delimiter as a period, when it's clearly coming back from PowerWorld as a comma. This is my first time using Python's `locale` module, so I may be misunderstanding it.

Can you execute the following code and provide me with the output?

[code]

[2020-06-14 20:08] robinroche commented on #56
@blthayer Here is what I get:
[code]

[2020-06-14 20:16] blthayer commented on #56
@robinroche, that's very helpful, thank you. I _think_ I know how to fix this now.

To confirm, can you please try the following two things:
[code]
and
[code]

[2020-06-14 20:19] robinroche commented on #56
@blthayer Here is the output:
[code]

[2020-06-14 20:22] blthayer commented on #56
@robinroche - thank you. I am now quite sure I've figured out the correct way to fix this.

In my initial fix, I incorrectly assumed that the `locale` module automatically uses your current locale. In fact, you first have to set the locale, and the line `locale.setlocale(locale.LC_ALL, '')` sets all your locale information from your system.

I'll be able to push a fix to this right away, and hopef

[2020-06-15 18:33] blthayer opened #61 "Add Lines to Case example not working for all PWS versions or all locales"
_Originally posted by @robinroche in https://github.com/openjournals/joss-reviews/issues/2289#issuecomment-644265540_

I'm now testing the "Add Lines to Case" example.
I'm getting the following:
[code]
Lines 33-34 in the script are:
[code]
I don't know if this is another locale issue, so just in case, I tried adding the following to the script, but the result remains the same:
[code]

[2020-06-15 18:38] blthayer commented on #61
@mzy2240 - I'm busy today, so if you wanted to look into this, you're welcome to. Otherwise, I'll try to tackle it this evening. This could either be an issue with using PWS 17, or a locale issue (or something else entirely!). The example works for me with PWS 21.

We'll likely need to pinpoint where things are going wrong, and ask `robinroche` to run some internal `SAW` methods and give us the ou

[2020-06-15 19:57] mzy2240 commented on #61
Let me check what's missing in the master branch and try to solve from my end. If I cannot, I will let you know.

[2020-06-15 20:51] blthayer commented on #61
@mzy2240 - thank you! I think I have a hunch for how to fix the issue in this ticket. I'm happy to fix it myself this evening, or you're welcome to take it on.

In short, my new `_to_numeric` method assumes that all column data types are `object` (I think that's what Numpy/Pandas calls it). In other words, it assumes all columns are non-numeric.

To fix, we just need to adapt the `_to_numeric` met

[2020-06-15 21:54] mzy2240 commented on #61
@blthayer The missing part is back. And for the future convenience, I merged the master back to develop to make the develop branch even with the master branch (before this, the commit history are different, while the files are the same).

[2020-06-15 21:57] blthayer commented on #61
@mzy2240 - thank you! I'll take a swing at fixing this issue this evening, and if I need additional help I'll let you know. If you're willing to help me push out yet another release in a short period of time, I'd appreciate it. Sorry for all the back and forth here - these issues have been unexpected and difficult to test for since they're related to old PWS versions and locale issues.

[2020-06-15 21:59] mzy2240 commented on #61
Yeah absolutely not a problem!

[2020-06-16 02:56] mzy2240 commented on #61
The new version is released.

[2020-06-17 16:45] #61 closed

[2020-06-17 16:45] #56 closed

[2020-06-17 18:53] blthayer opened #64 "Create final release for JOSS"
@mzy2240 - could you please create a documentation-only release? No code has changed since `v1.0.6` was released, so I propose doing the following:

- Merge `master` into `develop` to incorporate commits from `danielskatz`
- Delete the `v1.0.6` tag both locally and remotely ([link](https://devconnected.com/how-to-delete-local-and-remote-tags-on-git/))
- Recreate the `v1.0.6` tag, pointing at the c

[2020-06-17 18:53] blthayer opened #65 "Upload v1.0.6 to Zenodo"
See https://github.com/openjournals/joss-reviews/issues/2289#issuecomment-645538830

[2020-06-17 18:56] mzy2240 commented on #64
@blthayer From my understanding, it is not possible to update the PYPI release with same version number.

[2020-06-17 18:58] blthayer commented on #64
@mzy2240 - does the PyPi release have any of the documentation packaged with it? I don't think it does, but would need to double-check/investigate. If it doesn't, I don't think we need to change anything on the PyPi side.

[2020-06-17 18:59] mzy2240 commented on #64
It doesn't. It only covers the README in the ROOT directory.

[2020-06-17 19:05] mzy2240 commented on #64
I just remove the old tag and re-create the new tag for v1.0.6.
Can you update the paper.pdf file? I think that is the only remaining part for this issue. Or just let me know where I can get the latest pdf file, I can update it also.

[2020-06-17 19:07] blthayer commented on #64
For this new tag, let's use the following (if you could upload it, I'd appreciate it):

https://github.com/openjournals/joss-reviews/issues/2289#issuecomment-645529505

After the paper is published, we'll update with the final version.

[2020-06-17 19:14] mzy2240 commented on #64
I just uploaded the latest pdf with an associated tag. Please go ahead to upload to Zenodo.

[2020-06-17 19:34] #64 closed

[2020-06-17 19:54] blthayer commented on #65
https://zenodo.org/record/3899462

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3899462.svg)](https://doi.org/10.5281/zenodo.3899462)

[2020-06-17 19:54] #65 closed

[2020-06-17 19:56] blthayer commented on #46
Paper has been submitted, and is near final acceptance:

https://github.com/openjournals/joss-reviews/issues/2289#issuecomment-645589393

[2020-06-17 19:56] #46 closed

[2020-06-17 19:58] blthayer opened #66 "Add JOSS badge to README after publication"

[2020-06-17 19:59] blthayer opened #67 "Update all citation locations with the new JOSS citation after published"

[2020-06-17 20:59] mzy2240 commented on #67
Just modified my N-X paper with the latest citation.
@SmartJingJing123 Can you check whether the ref in the RIDES-related papers need to update also?

[2020-06-17 21:18] blthayer commented on #66
@mzy2240 - thanks for doing this!

[2020-06-17 21:18] #66 closed

[2020-06-17 21:29] blthayer commented on #67
@mzy2240 - I'm going to close this since I've updated the citation in the main README as well as in the .rst file. I'll go ahead and email the group with the new citation.

[2020-06-17 21:29] #67 closed

[2020-06-17 21:31] blthayer commented on #50
@mzy2240, @SmartJingJing123 - I'll be emailing folks at PNNL about ESA now that it's "complete" and we've got the JOSS paper out. Would you guys be willing to take point on advertising it elsewhere?

[2020-06-17 21:34] SmartJingJing123 commented on #67
Yes, I will add ESA in the evaluation metric paper since I used it in the TSR file decoding process. And I could think about whether ESA can be added in the RIDES development paper as well.

[2020-06-17 21:40] SmartJingJing123 commented on #50
https://github.com/mzy2240/ESA/issues/50#issuecomment-645636114
I could volunteer to advertise on Linkedin.

[2020-06-17 22:02] mzy2240 commented on #50
Yeah I will advertise it to my intern company as well as friends in our field.

[2020-06-17 22:03] mzy2240 commented on #57
This issue should also be closed now.

[2020-06-17 22:40] #57 closed

[2020-06-18 16:03] mzy2240 opened #68 "Add a dynamic build and coverage badge"
Since we are building the coverage table programmatically, let's try to have dynamic badges for the building status and the coverage. Some refs can be found here:
[https://github.com/dwyl/repo-badges](url)
[https://github.com/buildkite/dynamic-build-badges](url)

[2020-06-24 15:54] blthayer commented on #50
@mzy2240 @SmartJingJing123 - I've informed my PNNL network about ESA, and also updated the group regarding the JOSS publication. I propose we close this for now, and if anyone has more ideas for getting the word out, we can reopen.

[2020-06-24 15:54] #50 closed

[2020-06-24 15:58] blthayer commented on #50
@mzy2240 @SmartJingJing123

We saw some decent cloning traffic before the JOSS paper came out as well as on the day the paper was published:

![Screenshot from 2020-06-24 08-57-15](https://user-images.githubusercontent.com/14652512/85589875-ca5f9500-b5f8-11ea-855d-0f03ed4040b6.png)

[2021-08-19 18:44] mzy2240 opened #69 "Element order different compared to PowerWorld internal order"
@blthayer Hey Brandon, I wonder have you observed that the Simauto element order is different compared to PowerWorld internal order? For example, the branch order we could get from ListofDevices function is different compared to what shows in Model Explorer or in LODF analysis. Do you have any comments or suggestions on how to get the exact same order that is used by PW internally? Thanks!

[2021-08-19 18:45] mzy2240 commented on #69
I observed this problem in RTS 96 bus case as well as the 2000 case, so I would assume it is a common issue.

[2021-08-19 21:02] blthayer commented on #69
Hey @mzy2240 , long time! I hope you're doing well!

Unfortunately, I'm not sure hot to solve this one. Sounds like PowerWorld is being inconsistent between it's internal Model Explorer and SimAuto.

I suppose you could try to figure out what sort of ordering scheme is being used internally and then implement the sorting in ESA... but that sounds a bit hacky :wink:

[2021-08-20 03:33] mzy2240 commented on #69
Haha that is definitely a hacky but smart solution. One thing I just observed is calling GetParametersMultipleElement function with key fields and without key fields will tend to have different orders. When key fields are not included in the paramlist, the order will be the same as internal order used in PW simulator. So to at least make the Simauto output consistent, I am thinking of adding key f

[2021-08-20 20:03] mzy2240 commented on #69
Ok I find the problem. We did sort the table when outputting the dataframe. For example, the ListOfDevices result is different compared to the raw SimAuto function. We could either modify the order to be the same as shown in simulator, or adding the key fields for every GetParametersMultipleElement calls to at least makes our order to be constant.
![image](https://user-images.githubusercontent.com

[2021-08-20 21:56] blthayer commented on #69
I suppose I should have led off with "What's the use case for making the output order match the PowerWorld order?" It seems to me like that should never be necessary, as the point of ESA is to enable the user to mostly avoid working the the PowerWorld GUI.

ESA doesn't claim to be _just_ a wrapper around SimAuto. It purports to do more high-level and useful things for the user. For example, we out

[2021-08-20 22:23] mzy2240 commented on #69
Yes I totally agree, as long as the order from ESA is consistent. However in reality, sometime it is not. For example, calling _GetParametersMultipleElement_ with key fields and without key fields will return elements in different orders (at least for branch objecttype). If you have IEEE RTS 96 bus case, you could very easily verify that by running the code below:
`# obtain key fields for branch
k

[2021-08-20 22:44] blthayer commented on #69
Agreed - multiple calls to the same function should return the same sorting, so that certainly isn't ideal.

I also agree on your approach: if "fixing" the problem would cause a backwards compatibility problem, then documenting it rather than "fixing" it is the right approach.

I'm not sure if you have any long-term plans for ESA, but you could work toward a version 2.0 where things that would bre

[2021-08-20 22:46] blthayer commented on #69
Judging by the increased number of "stars" since I last looked at this repository, it looks like a good number of folks are using ESA! That's great! You came up with a great idea, and I'm glad I was able to help build out version 1.0 with you!

[2021-08-21 03:15] mzy2240 commented on #69
It is for sure a great choice & great experience to work with you on ESA. I'm really happy that many people are using it and love it. I would keep adding useful functions to ESA, though jumping to version 2.0 I would very likely leave this great honor to the next successor : )

[2021-08-29 04:49] mzy2240 opened #70 "Checking whether given fields match PW internal field names sometimes has side-effect"
Currently, it is internally mandatory to check whether the given fields match PW internal fields, however, this may prevent users access some existing but somehow not included internal fields. For example, 'LODFMult:x'  (x can be any integer from 0 to the index of the last branch) is a valid field for branch object to query result from LODF matrix. You could access it using original SimAuto with/w

[2021-08-29 04:51] mzy2240 commented on #70
![image](https://user-images.githubusercontent.com/18620336/131238832-6c920dc4-8a19-473b-bab9-74f68ee28d9d.png)
![image](https://user-images.githubusercontent.com/18620336/131238843-2e8b2887-d0c6-4531-afb1-2c7d776089b0.png)

[2021-09-02 02:21] blthayer commented on #70
@mzy2240

I looked a bit at the code, and it might be a bit tricky. Part of ESA/SAW's job is to handle type conversions, and the error you provided crops up when identifying whether or not a field is intended to be numeric. So, one fix (that might have unintended consequences) would be to overhaul how numeric fields are identified. You could essentially assume all fields are numeric and use some `

[2022-01-27 22:53] mzy2240 opened #71 "Add official Python 3.9 support"

[2022-01-27 22:55] #71 closed

[2022-01-27 23:05] mzy2240 opened #72 "Compiled functions only work with Python 3.8"
Compiled functions are version dependent. Different python version cannot share the same compiled code. There are two ways to solve this:

1. compile the code during the installation, but this requires the environment has linked compiler (g++, clang, msvc) and linked blas library (mkl, for better performance);
2. compile multiple version during the release process, then import the corresponding fi

[2022-01-28 06:51] #72 closed

[2022-01-28 18:09] mzy2240 opened #73 "Value error during object instantiation"
![error](https://user-images.githubusercontent.com/18620336/151599127-b1520242-62ab-4c91-92c3-8a93e662b90e.jpg)

@blthayer Do you have any idea why this happens? This is a snapshot someone sent to me this morning, he is using a Python 3.9.9 env. Meanwhile, there is another guy encountered this issue as well, he is using Windows 11 with Python 3.8.3. Both have this issues for multiple esa versions.

[2022-01-28 18:11] mzy2240 commented on #73
They tested pycharm, spyder and notebook. All have the same error.

[2022-01-29 04:39] mzy2240 opened #74 "Stop supporting python 3.5/3.6 and add support for 3.10"
Since 3.5 and 3.6 are already [EOL](https://endoflife.date/python), many packages (like numpy and numba) already stopped publishing new patches for them. We should also consider supporting python 3.10. What do you think? @blthayer

[2022-02-04 00:57] blthayer commented on #74
I think that's a great idea! In my opinion it's unreasonable for package maintainers (like yourself) to maintain compatibility with Python versions that are no longer supported by Python.

[2022-02-04 01:22] blthayer commented on #73
@mzy2240

When you say you cannot reproduce with the same case, do you mean they sent you the `.PWB` file and it worked fine for you?

If so, the lack of reproducibility might be related to differences in PowerWorld version.

Here's the `GetFieldList` method from `v1.2.2`:

[code]

Purely from reading the code and stack trace, I  _think_ (though I'm not 100% sure) that we hit the following `raise

[2022-02-04 01:37] mzy2240 commented on #73
PW released version 23 and that might be the reason. I did not expect that tbh. Will check with them on the PW versions. Thanks!

[2022-02-04 01:39] mzy2240 commented on #74
Thanks for the suggestions!

[2022-02-04 01:40] blthayer commented on #73
If that is indeed the source of the problem, you should report it to
PowerWorld. They claim to maintain backwards compatibility with SimAuto,
and this would be a major backwards compatibility issue.

On Thu, Feb 3, 2022, 5:37 PM mzy2240 ***@***.***> wrote:

[2022-02-05 19:35] mzy2240 commented on #73
Starting from November last year, a new field "enterable" has been added to object fields in PW. I will release a new version fixing this very soon.

[2022-02-05 20:02] #73 closed

[2022-02-12 20:12] mzy2240 commented on #1
Currently when `pw_order = True`, ESA will use exactly the same variable names as shown in the model explorer. The tradeoff is, you will need to do type conversion by urself (which is very trivial). People who prefer using the same variable names could use this feature.

[2022-02-12 20:13] mzy2240 commented on #1
Close the issue for now.

[2022-02-12 20:13] #1 closed

[2022-04-28 13:10] faceb912 opened #75 "command error when execute SolvePowerFlow()"
![error](https://user-images.githubusercontent.com/104573238/165759630-beb0eb7d-0968-4eab-80e2-a3b3ced28a81.PNG)

[2022-05-10 10:02] faceb912 opened #76 "installing esa via Cygwin"
Hi all,
Can I install esa inside Cygwin ? i tried but i faced some issues !

[2022-05-10 15:44] mzy2240 commented on #76
Hi @faceb912, I don't have any experience with Cygwin. Have you tried installing with pip?

[2022-05-12 10:27] faceb912 commented on #76
Hi Mzy, It works fine with with pip. However, when i tried to install it inside the Cygwin using pip , it shows that pywin32  is missing. when i tried to install it pypwin32  first , i got this error
ERROR: Could not find a version that satisfies the requirement pywin32 (from versions: none)
ERROR: No matching distribution found for pywin32

[2022-05-19 08:46] faceb912 commented on #76
Thank u for ur suggestions. I would try to build it from the source and I will let u know then

[2022-05-21 02:39] mzy2240 commented on #76
Feel free to re-open the ticket if you still have questions.

[2022-05-21 02:39] #76 closed

[2022-05-26 11:11] faceb912 opened #77 "Issue when call change multiple parameters function"
Hi All ,
I have tried to follow the example in the website. However, I got error when I tried to change the active power in Gen. any suggestions?
[code]

[2022-05-26 22:47] mzy2240 commented on #77
Hi @faceb912, there is only very limited information you gave about the issue, so here is my best guess:

* Check your `ChangeParametersMultipleElement` function and make sure you are giving the right parameters. If you are following the example, please accommodate based on the case you are running.
* For most users, the helper functions like `change_and_confirm_params_multiple_element` and `chang

[2022-06-03 03:49] mzy2240 commented on #77
@faceb912 Feel free to re-open the ticket if you still encounter the same issue.

[2022-06-03 03:49] #77 closed

[2022-06-23 21:07] Weifarers opened #78 "ValueError when attempting to access bus Marginal Cost."
The following code operates as expected for a simple 37 bus system.

[code]

This outputs:
[code]
However, I am also interested in looking for the marginal cost for the various buses in the system. Upon trying to execute the command:

[code]

where `BusMCMW` is listed at `https://github.com/mzy2240/ESA/blob/master/docs/power_world_object_fields.xlsx` as the Variable Name for the marginal cost, I g

[2022-06-23 21:30] mzy2240 commented on #78
I am able to reproduce the described error and I think this is an expected (and correct) result. The major problem of this use case is the lack of OPF results in the case. I did check the same case in the PW simulator, and in the model explorer for the BusMCMW column it also shows "Not Valid". So my suggestion is, try to explicitly run the OPF before querying the LMP values.

[2022-06-23 21:37] mzy2240 opened #79 "Add EPC parser"
Limited EPC file parsing support could be found in [FastSE](https://github.com/mzy2240/fastSE). EPC might be your best (and easiest) file format, at least for now, if you trying to get a relatively complete system model (including coordinates) from PW.

[2022-06-23 21:37] #79 closed

[2022-06-23 21:41] Weifarers commented on #78
Got it; running the command:

[code]

before accessing the `BusMCMW` seems to have worked.

Interestingly, I tried this with a different case (using the same code), and it seems that I could access `BusMCMW` after only initializing the SAW object (that is, before I even ran something like
[code]
or
[code]

I assume that this is a behavior that is dependent on the case, and is similar to prior disc

[2022-06-23 22:37] mzy2240 commented on #78
Feel free to re-open the issue if you still have questions.

[2022-06-23 22:37] #78 closed

[2022-09-06 17:30] mzy2240 opened #80 "Fix the compatibility issue in Python 3.10"
Compatibility issue in Python 3.10 due to the ahead-of-time-compiled performance module

[2022-09-07 04:15] mzy2240 opened #83 "Fix the warning caused by changing the sparsity of the sensitivity matrix"
@TThomas001

[2022-09-07 04:16] mzy2240 opened #84 "Improve the robustness of the ecological analysis method"

[2022-09-07 04:17] mzy2240 commented on #84
@faoh

[2022-09-08 19:31] #84 closed

[2022-09-09 02:53] #83 closed

[2022-09-09 03:48] mzy2240 opened #86 "Improve the ecological analysis method"
1. Reduce the number of conditions by using formatted string

e.g.

[code]
can be optimized into

[code]

2. When computing the EFM, compute the line flow and the loss induced EFM together

3. Use loc instead of column + index for better readiness and performance

[2022-09-09 15:51] mzy2240 opened #87 "Fix the denominator 0 situations"
[code]

[2022-09-11 17:08] mzy2240 commented on #86
1. Please consider using vectorization to replace iterating a dataframe. If you have to do that, consider using `df.iterrows()` instead of the vanilla loop.

2. There is no need to have two separate loops for the following code:
[code]

[2022-09-12 03:32] mzy2240 commented on #86
@faoh Good job! Now you could consider vectorizing most of the loops, e.g.
[code]
The above code could be easily converted into the following code:
[code]

[2022-09-15 04:09] mzy2240 opened #88 "Change license to Apache 2.0"

[2022-09-15 04:17] #88 closed

[2022-09-15 23:13] mzy2240 commented on #74
Still need to fix the python 3.10 support issue due to the aot compiled module

[2022-09-15 23:31] mzy2240 opened #89 "Compatibility is poor when working with Streamlit"
Streamlit's [experimental_singleton ](https://docs.streamlit.io/library/advanced-features/experimental-cache-primitives#stexperimental_singleton) does not work well with SAW object. Initializing the COM libraries explicitly for the calling thread might be a quick fix.

[2022-09-15 23:50] #74 closed

[2022-09-15 23:50] #80 closed

[2022-09-15 23:50] #89 closed

[2022-09-16 00:08] #87 closed

[2022-09-20 21:49] mzy2240 opened #90 "Add a contingency analysis example"
Using ESA to perform a contingency analysis is quite common for many users. The current contingency analysis example demonstrates a native implementation of a linearized method for outstanding performance, but some users may prefer the PW's internal CA for higher credibility.

The example should demonstrate how to perform the built-in contingency analysis and how to retrieve the results.

[2022-09-27 03:40] #90 closed

[2022-09-28 21:16] mzy2240 opened #91 "Add the two new SimAuto functions"
According to the PW's webhelp, they added two new SimAuto methods `OpenCaseType` and `RunScriptCommand2`. The `OpenCaseType` might be useful if you need to load non-PW format files (like PTI, GE EPC formats), while the `RunScriptCommand2` might be less useful but still good to have.

The corresponding [document ](https://mzy2240.github.io/ESA/html/welcome.html#simauto-functions) also needs an upda

[2022-09-28 21:19] mzy2240 commented on #91
A SimAuto property `ProgramInformation` is also added in version 21. The link is [here](https://www.powerworld.com/WebHelp/Default.htm#MainDocumentation_HTML/ProgramInformation_Property.htm?TocPath=Automation%2520Server%2520Add-On%2520(SimAuto)%257CAutomation%2520Server%2520Properties%257C_____5).

[2022-10-11 08:34] blthayer commented on #76
I would suspect that installation via Cygwin would not work, but I would
need to look into it  further to give a 100% confident answer. PowerWorld
is Windows-only and ESA utilizes PowerWorld's COM interface for
data/command I/O. COM is a special Windows-only feature that I suspect (but
have not confirmed) cannot be used from Cygwin.

On Tue, May 10, 2022, 8:45 AM mzy2240 ***@***.***> wrote:

[2022-10-27 15:00] mzy2240 opened #92 "Support Python 3.11"

[2022-10-27 15:05] mzy2240 opened #93 "Remove numba from dependency"
The idea is to use numba only if numba is available.

[2022-10-27 15:54] mzy2240 commented on #92
Once `toolz` and `tqdm` support Python 3.11, it should be time to support Python 3.11 ourselves.

[2022-10-27 15:55] mzy2240 commented on #92
toolz: https://github.com/pytoolz/toolz/issues/554
tqdm: https://github.com/tqdm/tqdm/issues/1387